p{
    background-color:lightpink;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.secondp{
    font-size: 24px;
}

#firstid{
    color:blue;
    font-size:36px
}

#secondid{
    background-color:lightgreen;
    font-size: 24px;
    font-weight: bold;
}